

.flatpickr-calendar{
  width: 230px !important;
 
}
.flatpickr-days{
  width: 230px !important;
}
.dayContainer{
  max-width: 230px !important;
  min-width: 230px !important;
  max-width: 230px !important;
}